In [1]:
# Slower but always guaranteed to work
# !wget -nc https://archive.org/download/google-news-vectors-negative-300.bin_202311/GoogleNews-vectors-negative300.bin.gz

# You are better off just downloading this from the source
# https://drive.google.com/file/d/0B7XkCwpI5KDYNlNUTTlSS21pQmM/edit?usp=sharing

In [2]:
from gensim.models import KeyedVectors

In [3]:
word_vectors = KeyedVectors.load_word2vec_format(
    'models/GoogleNews-vectors-negative300.bin',
    binary=True
)

In [4]:
def find_analogies(w1, w2, w3):
    # w1 - w2 = ? - w3
    # e.g. king - man = ? - woman
    #      ? = +king +woman -man
    r = word_vectors.most_similar(positive=[w1,w3], negative=[w2])
    print(f'{w1} - {w2} = {r[0][0]} - {w3}')

In [5]:
find_analogies('king', 'man', 'woman')

king - man = queen - woman

In [6]:
find_analogies('france', 'paris', 'london')

france - paris = england - london

In [7]:
find_analogies('france', 'paris', 'rome')

france - paris = italy - rome

In [8]:
find_analogies('paris', 'france', 'italy')

paris - france = lohan - italy

In [9]:
find_analogies('france', 'french', 'english')

france - french = england - english

In [10]:
find_analogies('japan', 'japanese', 'chinese')

japan - japanese = tibet - chinese

In [11]:
find_analogies('japan', 'japanese', 'italian')

japan - japanese = italy - italian

In [12]:
find_analogies('december', 'november', 'june')

december - november = september - june

In [13]:
find_analogies('miami', 'florida', 'texas')

miami - florida = dallas - texas

In [14]:
find_analogies('einstein', 'scientist', 'painter')

einstein - scientist = jude - painter

In [15]:
find_analogies('man', 'woman', 'she')

man - woman = he - she

In [16]:
find_analogies('man', 'woman', 'aunt')

man - woman = uncle - aunt

In [17]:
find_analogies('man', 'woman', 'sister')

man - woman = brother - sister

In [18]:
find_analogies('man', 'woman', 'wife')

man - woman = son - wife

In [19]:
find_analogies('man', 'woman', 'actress')

man - woman = actor - actress

In [20]:
find_analogies('man', 'woman', 'mother')

man - woman = father - mother

In [21]:
find_analogies('nephew', 'niece', 'aunt')

nephew - niece = uncle - aunt

In [22]:
def nearest_neighbors(w):
    r = word_vectors.most_similar(positive=[w])
    print("neighbors of: %s" % w)
    for word, score in r:
        print("\t%s" % word)

In [23]:
nearest_neighbors('king')

neighbors of: king
	kings
	queen
	monarch
	crown_prince
	prince
	sultan
	ruler
	princes
	Prince_Paras
	throne

In [24]:
nearest_neighbors('france')

neighbors of: france
	spain
	french
	germany
	europe
	italy
	england
	european
	belgium
	usa
	serbia

In [25]:
nearest_neighbors('japan')

neighbors of: japan
	japanese
	tokyo
	america
	europe
	germany
	chinese
	india
	hawaii
	usa
	korea

In [26]:
nearest_neighbors('einstein')

neighbors of: einstein
	nikki
	lmfao
	albert
	armstrong
	joan
	becky
	mcmahon
	conrad
	lori
	haley

In [27]:
nearest_neighbors('woman')

neighbors of: woman
	man
	girl
	teenage_girl
	teenager
	lady
	teenaged_girl
	mother
	policewoman
	boy
	Woman

In [28]:
nearest_neighbors('nephew')

neighbors of: nephew
	son
	uncle
	brother
	grandson
	cousin
	father
	niece
	younger_brother
	nephews
	stepson

In [29]:
nearest_neighbors('february')

neighbors of: february
	january
	april
	september
	december
	july
	october
	november
	june
	feb
	norway

In [30]:
# Exercise: download pretrained GloVe vectors from
# https://nlp.stanford.edu/projects/glove/
#
# Implement your own find_analogies() and nearest_neighbors()
#
# Hint: you do NOT have to go hunting around on Stackoverflow
#       you do NOT have to copy and paste code from anywhere
#       look at the file you downloaded

In [31]:
import pandas as pd

In [35]:
glo_ve = pd.read_table('models/glove.42B.300d.txt',sep='\s+', header=None, index_col=0)

In [36]:
glo_ve

,1,2,3,4,5,6,7,8,9,10,...,291,292,293,294,295,296,297,298,299,300
0,,,,,,,,,,,,,,,,,,,,,
",",0.183780,-0.121230,-0.119870,0.015227,-0.191210,-0.066074,-2.98760,0.807950,0.067338,-0.131840,...,0.136150,0.109990,-0.334740,-0.046109,0.107800,-0.035657,-0.012921,-0.039038,0.182740,0.146540
the,-0.208380,-0.149320,-0.017528,-0.028432,-0.060104,-0.264600,-4.14450,0.629320,0.336720,-0.433950,...,-0.041244,-0.461820,0.027903,0.546570,-0.258940,0.395150,0.261440,-0.540660,0.211990,-0.009436
.,0.108760,0.002244,0.222130,-0.121020,-0.048959,0.018135,-3.81740,-0.032631,-0.625940,-0.518980,...,0.063131,-0.212300,-0.300880,-0.451610,0.264800,0.075971,-0.406880,-0.296960,0.159390,-0.149020
and,-0.096110,-0.257880,-0.358600,-0.328870,0.579500,-0.517740,-4.15820,-0.113710,-0.108480,-0.488850,...,0.477810,-0.021213,-0.212360,0.423740,0.140830,0.067498,-0.126750,-0.370300,-0.092774,0.390580
to,-0.248370,-0.454610,0.039227,-0.284220,-0.031852,0.263550,-4.63230,0.013890,-0.539280,-0.084454,...,0.082736,-0.624690,0.044267,0.606730,-0.124580,-0.154430,-0.163390,0.053097,0.154580,-0.380530
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zuuk,0.608420,0.048046,0.209550,0.248390,-0.068118,0.079349,0.71066,-0.293760,0.172980,0.228020,...,0.240000,-0.351030,0.151880,-0.229650,-0.102250,0.167500,0.113140,0.075930,-0.018494,0.001097
zycon,-0.004568,-0.043397,-0.103270,0.230870,-0.247030,0.184900,0.92469,0.004070,-0.024026,0.166960,...,-0.231200,0.076072,-0.161420,0.308680,-0.167090,-0.100380,-0.087986,0.019121,0.305140,0.217410
zytron,0.273600,0.041336,-0.122680,0.146310,-0.285840,0.155210,0.80294,-0.106330,-0.004705,0.509860,...,0.030169,0.153280,-0.112860,0.231080,-0.219830,0.113910,0.161930,-0.331820,0.037883,0.056439
þa,-0.052387,0.321420,0.232420,0.401000,-0.418730,0.245340,0.64645,-0.584110,-0.091796,0.511560,...,0.264470,-0.002212,-0.017225,-0.035388,-0.029108,0.037574,0.077145,-0.081346,0.048100,-0.087230
þi,-0.119690,0.160200,-0.249170,0.128780,-0.198740,0.446840,0.43726,-0.194300,0.013091,0.043389,...,-0.306970,-0.277710,0.346540,0.232450,0.012919,0.124750,-0.081428,-0.090892,0.278270,0.113740